@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Podkova:wght@400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    background-color: #F6FEFF;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100vh;
}

#inputFieldSmall {
    font-family: "Raleway", sans-serif;
    font-size: 11px;
}

#inputField {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr, 3fr;
}
#BookInputField {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    
}
#changeText {
    font-size: 32px;
    color: #C9EEFA;
    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}


@keyframes fontChange {
    0% {
        font-family: "Raleway", sans-serif;
    }

    25% {
        font-family: "Amatic SC", sans-serif;
    }

    50% {
        font-family: "Indie Flower", cursive;
    }

    75% {
        font-family: "Playfair Display", serif;
    }

    100% {
        font-family: "Podkova", serif;
    }
}